#cursor {
    font-size: 30px;
    margin-bottom: 25px;
    font-weight: 700;
}

#cursor-text {
    color: #338bab;
}

.ityped-cursor {
    /* font-size: 4em; */
    color: #338bab;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

body {
    font-family: Verdana;
    line-height: 1.6;
    text-align: center;
    background-color: #e0dada;
    color: rgb(49, 47, 47);
}

#content {
    margin-left: 30px;
    margin-right: 30px;
}

h2 {
    letter-spacing: -2px;
    color: rgb(49, 47, 47);
    margin: 0;
    font-size: 2.5rem;
}

p {
    letter-spacing: -1.2px;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 500;
}

hr {
    max-width: 1200px;
    height: 2px;
    background-color: rgb(49, 47, 47);
}

.hr-light {
    background-color:rgb(174, 167, 167)
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

#header h1 {
    letter-spacing: -2px;
    margin: 0;
    text-align: left;
    margin-right: 12px;
    color: rgb(49, 47, 47);
}

#social-links {
    margin-left: 20px;
    text-align: right;
}

#social-links img {
    width: 40px;
    height: 40px;
}

#social-links a {
    margin-right: 1rem;
    text-decoration: none;
}

#social-links a:hover {
    background-color: #cac2c2;
}

#intro {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 10px;
}

#profile-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#intro-list {
    gap:  00px;
    letter-spacing: -1.4px;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    max-width: 600px;
    list-style-position: inside;
    display: table;
    margin: 0 auto;
    margin-top: 15px;
}

#intro-list p {
    margin: 10px;
}

#intro-list a {
    text-decoration: none;
    color: #338bab;
    font-weight: 500;
}

#projects {
    padding-top: 6px;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

#projects p {
    font-size: 1.2rem;
}

#projects-intro {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

#projects .side-by-side {
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.side-by-side ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.side-by-side p {
    width: 50%;
    text-align: right;
    margin: 0;
    margin-right: 25px;
}

#projects h3 {
    color: #338bab;
    margin-top: 16px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 0px;
    font-size: 24px;
}

#projects h4 {
    margin-top: 0;
    font-size: 1.1rem;
}

#projects hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#project-desc-list {
    max-width: 600px;
    list-style-position: inside;
    display: table;
    margin: 0 auto;
    margin-left: 25px;
}

.project-image-container {
    width: 45%;
}

.project-info {
    max-width: 1000px;
    margin: 0 auto;
    /* text-align: left; */
}

.project-image {
    width: 100%;
}

#projects .content {
    width: 100%;
    /* background-color: #202020; */
    color: white;
}

#projects a {
    color: #338bab;
    font-weight: 500;
}

.project-links {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
    gap: 10px;
}

.project-links a {
    padding: 5px;
    text-decoration: none;
}

.project-links button {
    height: 60px;
    width: 200px;
    font-size: 1.2rem;
    background-color: #338bab;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

#music {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 100px;
}

#music p {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

#music .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#music .playlist {
    max-width: 800px;
    margin-bottom: 20px;
    margin-top: 20px;
}

@media only screen and (max-width: 700px) {
    .content-container {
        justify-content: center;
    }

    .project-image-container {
        width: 100%;
    }

    #projects .side-by-side {
        width: 100%;
        display: inline;
    }

    .side-by-side p {
        width: 100%;
        text-align: center;
    }

    .side-by-side ul {
        margin-top: 20px;
        text-align: center;
    }

    #intro-list {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #project-desc-list {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    .project-info {
        width: 100%;
        padding: 0px;
        text-align: center;
    }

}
